header {
   box-sizing: border-box;
	position: fixed;
	top: 0;
   left:0;
	right: 0;
   height: 3.5em;
	/* margin: 10em 10em 10em 10em; */
	/* left: 0%; */
	display: flex;
	width: 100;
	background: rgba(255, 255, 255, 0.85);
	padding: 0px 16px;
	align-items: center;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 10;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(2px); 
}
header span.title {
	font-weight: 400;
	transition: color 0.3s ease; /* 添加 transition 属性 */
}
header span.title:hover {
	color: rgb(13, 53, 85);
	transition: color 0.3s ease;
}

/* 新增主页按钮样式 */
.home-btn {
	background-color: #4c84b2;
	color: #ffffff;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 500px;
	margin-right: 20px;
	font-size: 14px;
	transition: background-color 0.2s ease;
}

.home-btn:hover {
	background-color: #125b8f;
}

article{
	padding-top: 3.5em;
}