*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding-top: 3em;
   background-image: url('../img/marseille.jpg');
   background-repeat:no-repeat;
	background-color: #125b8f;
   background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px);
    background-attachment: fixed;
    /* 关键：为 body 添加顶部内边距，防止 header 与下方内容重叠 */ */
	/* padding-top 的值需要至少等于 header 的总高度，包括 header 本身的高度和其 padding、border 的高度 */
}
header {
	position: fixed;
	top: 0;
	right: 2px;
	/* margin: 10em 10em 10em 10em; */
	/* left: 0%; */
	display: flex;
	width: 100%;
	background: rgba(255, 255, 255, 0.85);
	padding: 10px 16px;
	align-items: center;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 10;
   /* opacity: 90%; */
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(2px); 
}
header > span.title {
	font-weight: 400;
	transition: color 0.3s ease; /* 添加 transition 属性 */
}
header > span.title:hover {
	color: rgb(13, 53, 85);
	transition: color 0.3s ease;
}

/* 新增主页按钮样式 */
.home-btn {
	background-color: #4c84b2;
	color: #ffffff;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 500px;
	margin-right: 20px;
	font-size: 14px;
	transition: background-color 0.2s ease;
}

.home-btn:hover {
	background-color: #125b8f;
}

body > div.textbox1 {
	/* box-sizing: border-box; */
	padding: 0.5em 1em;
	margin: 1.5em 0.75em;
	border: 1em;
	background-color: rgba(248, 247, 247, 0.85);
	border-radius: 0.75em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px); 
   counter-reset: section;
}
div.textbox1>a,p{
	color: #125b8f;
	text-decoration: none;
	font-weight: bold;
   transition: color 0.2s ease;
   line-height: 200%;
}
div.textbox1>a:hover{
	color: #0c2b53;
	text-decoration: none;
	font-weight: bold;
   transition: color 0.2s ease;
}
div.textbox1>a:before{
	counter-increment: section;
   content: counters(section,"") ". ";
}
