/* /* 默认链接样式 */
/* a:link, */
/* a:visited { */
/*   color: palegoldenrod; */
/*   text-decoration: none; */
/* } */

/* /* 针对class="test1"的链接，使用更具体的选择器 */
/* a.test1:link, */
/* a.test1:visited { */
/*   color: red; */
/*   font-weight: bolder; */
/*   font-style: italic; */
/*   text-decoration: underline; 
/* } */

/* /* 可选：设置悬停效果 */
/* a:hover { */
/*   color: orange; */
/* } */
/* a.test1:hover { */
/*   color: darkred; */
/* } */

/* .test1 { */
/*    color: brown; */
/*    font-weight: bolder; */
/*    font-style: italic; */
/* } */
@import url(../../css/temp1.css);

body {
	padding: 1em;
}
header {
	/* border: #135a5a 2px solid; */
	border-top: 0;
}
body {
	/* background-color: #506fa5; */
	background-color: #648bad;
}
article > * {
	margin: 0.5em 0;
}
.first_block {
	display: inline-block;
	background-color: white;
	border-width: 0.1em;
	border-color: grey;
	border-radius: 0.5em;
	border-style: solid;
	padding: 1em;
	box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.05);
}
img.round {
	border-radius: 0.5em;
	box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.1);
}
article > a:hover {
	color: blueviolet;
}
a {
	color: #135a5a;
}
.test1 {
	color: brown;
}
#ttest1 {
	color: cadetblue;
}
#ttest1:hover {
	color: chocolate;
}
a {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.blk {
	display: inline-block;
	line-height: 1.5em;
	background-color: white;
	border-width: 0.1em;
	border-color: grey;
	border-radius: 0.5em;
	border-style: solid;
	padding: 1em;
	box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.05);
}

#font1 {
	/* font-family:monospace; */
	font-family: cursive;
}
#font2 {
	font-size: larger;
	font-family: cursive;
	font-variant: small-caps;
}
#a1AD {
	position: fixed;
	flex-direction: column;
	width: 25%;
	height: 30%;
	right: 0;
	bottom: 0;
	background-color: azure;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2em;
}
.a1adbtn {
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-shadow: 2px #648bad;
}
.a1adbutton {
	flex: 1;
	height: 1.5em;
	background: linear-gradient(
		60deg,
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet,
		red
	);
	background-size: 400% 100%;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-position 0.5s ease;
	animation: rainbow-animation 10s linear infinite;
	border-radius: 1em;
	border: 0;
	padding: 0.5em;
}
.a1adbutton:hover {
	background-position: 100% 0;
}

@keyframes rainbow-animation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
 }
 
 .spin {
	animation: spin 10s linear infinite; 
 }
 
 .spin:hover {
	animation: spin 0.1s linear infinite; 
 }